.word{
    line-height:4px;
    /* text-align:center; */
}
.title{
    line-height:8px;
    /* text-align: center; */
}
.title2{
    line-height:8px;
    padding-bottom:15px;
    /* text-align: center; */
}

.title3{
    line-height:15px;
    /* padding-bottom:30px; */
    /* text-align: center; */
}

.body{
    color: rgb(255, 255, 255);
}

.button{
    background-color: red;
    color: white;
    line-height: 4px;
    text-align: center;
    height: 50px;
    width: 350px;
    border: none;
    border-radius: 1px;
}

.button:hover{
    background: rgb(255, 97, 97);
    cursor: pointer;
}

.button2{
    background-color: red;
    color: white;
    line-height: 4px;
    text-align: center;
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 1px;
    text-align: center;
}

.button2:hover{
    background: rgb(255, 97, 97);
    cursor: pointer;
}

.mainbutton{
    background-color: rgb(13, 0, 255);
    color: white;
    line-height: 4px;
    text-align: center;
    height: 17px;
    width: 25px;
    border: none;
    border-radius: 1px;
    text-align: center;
}

.mainbutton:hover{
    background: rgb(109, 136, 255);
    cursor: pointer;
}

.mainbutton2{
    background-color: rgb(13, 0, 255);
    color: white;
    line-height: 4px;
    text-align: center;
    height: 30px;
    width: 125px;
    border: none;
    border-radius: 1px;
    text-align: center;
}

.mainbutton2:hover{
    background: rgb(142, 162, 253);
    cursor: pointer;
}